html{
    scroll-behavior: smooth;
}

.nav-item{
    margin-top: 1px;
}
.navbar-brand img{
    float: left;
}

#title{
    margin-top: 25vh;
    margin-bottom: 32vh;
}
#host{
    display: none;
}

#footer{
    float: left;
    height: 61px;
    width: 100%;
    right: 0;
}

.title{
    padding-top: 15vh;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#create{
    color:rgb(255, 255, 255);
    font-size: 1.5em;
}

@media screen and  (max-width: 1000px){
    #title{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #host{
        display: block;
    }
    #footer{
        display: none;
    }
    .logos img {
        height: 150px;
    }
}

.img{
    height: 250 px;

}

th{
    width: 25%;
}
.title-special{
    padding: 0 1em;
    padding-top: 15vh;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logos img{
    height: 200px;
    width: auto;
    margin: 3px;
    max-width: 90%;
    max-height: 60%;
}
