.nav-item{
    margin-top: 1px;
}
.navbar-brand img{
    float: left;
}

#title{
    margin-top: 25vh;
}
#host{
    display: none;
}

#footer{
    float: left;
}


@media screen and  (max-width: 1000px){
    #title{
        margin-top: 50px;
    }
    #host{
        display: block;
    }
    #footer{
        display: none;
    }
}