.start{
	margin-top: 19vh;
}
#join{
	color: white;
}
body {
	height: 100%;
	background-image: url("../Host/assets/Lobby-blur.jpeg");
}

.jumbotron{
	background: rgba(255, 255, 255, 0.91);
}

#inputs{
	width: 250px;
	margin-left: 41.5vw;
}

@media screen and (max-width: 1750px){
    #inputs{
		margin: auto;
	}
}